---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Error - Alanas J">
	<main class="justify-center align-middle flex h-[100vh] flex-col">
		<h1 class="text-center align-middle mb-[20vh] md:text-5xl text-3xl text-gray-700" >
			Something unexpected occured...
		</h1>
	</main>
</Layout>
