---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alanas-J - Home">
	<main>
		<h1>My Homepage - Alanas J</h1>
		<a href="./initial">Initial page nav</a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(72, 72, 72);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
