---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Home - Alanas J">
	<NavBar />
	<main class="mx-auto max-w-full w-[1000px]">
		
		<div>
			<h1 style="margin-bottom: 50px;">My Homepage - Alanas J</h1>
		</div>

		

	</main>
</Layout>
