---
import Content from '../components/Content.astro';
import ParticleContainer from '../components/ParticleContainer';
import GeneralPage from '../layouts/GeneralPage.astro';
---

<GeneralPage title="Home - Alanas J">
	<Content>
		<section class="mb-8 md:mb-10">
			<h1 class="md:text-5xl md:font-light md:leading-[1.5] md:p-5 md:pr-10 md:w-fit md:border-b-2 
			border-gray-200 dark:border-slate-800
			text-2xl mb-4 text-center">
				The personal homepage
			</h1>
		</section>
	</Content>
	<div class="lg:h-[400px] h-[200px] shadow-lg">
		<ParticleContainer client:only />
	</div>
	<Content>
		
	</Content>
</GeneralPage>
