---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alanas-J - Home">
	<main>
		<h1 style="margin-bottom: 50px;">My Homepage - Alanas J</h1>
		<audio autoplay='true' loop>
			<source src="funky-town.mp3" type="audio/mpeg">
		</audio> 
		<img style="width: 100%;" src="spinning_fish.gif"> 
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(72, 72, 72);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
