<nav class='border-b border-gray-20 px-52 pb-6 pt-4 flex shadow-md sticky top-0 backdrop-blur-lg'>
    <div class='text-5xl font-extralight flex-1'>
        <a href="/" class="cursor-default">Alanas J</a>
    </div>
    <div class='flex items-center space-x-6 text-lg'>
        <a class='nav-anchor' href="/fish">Fish</a>
        <a class='nav-anchor' href="/error">Error Page</a>
    </div>
</nav>