@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-anchor {
      @apply hover:text-blue-500
      hover:underline
      underline-offset-8;
    }
}

.blue-red-gradient {
  /* "#DDDDDD" is a nice grey */
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5433ff, #ff28e2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5433ff, #ff28e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blue-red-gradient div {
  height: 100%;
}
